@using Library.Models.Models
@model IEnumerable<Book>

<style>
    .fixed-card {
        width: 100%; /* Defina a largura fixa desejada */
        max-width: 300px; /* Defina a largura máxima se necessário */
        height: 500px; /* Defina a altura fixa desejada */
        display: flex;
        flex-direction: column;
    }

        .fixed-card img {
            object-fit: cover; /* Para cobrir toda a área sem distorcer a imagem */
            height: 60%; /* Ajuste conforme necessário */
            width: 100%;
        }

        .fixed-card .card-body {
            flex: 1; /* Faz com que o card-body ocupe o espaço restante */
            overflow: hidden;
        }

        .fixed-card .btn {
            margin-top: auto; /* Move o botão para o fundo do card */
        }
</style>

    <div class="container text-center py-4">
    <h1>Nossos Livros</h1>
    </div>
<div class="row pb-3">
        @foreach (var product in Model)
        {
            <div class=" col-lg-3 col-sm-6">
                <div class="row p-2">
                    <div class="col-12 p-1">
                        <div class="card border-0 p-3">
                            @if (product.BookImages != null && product.BookImages.Count() > 0)
                            {
                                <img src="@product.BookImages.FirstOrDefault().ImageUrl" class="card-img-top rounded" alt="book-img" style="height:400px;" />
                            }
                            else
                            {
                                <img src="https://placehold.co/500x600/png" class="card-img-top rounded" alt="book-img" />
                            }
                            <div class="card-body pb-0">
                                <div class="ps-1">
                                    <p class="card-title h5 text-dark opacity-75 text-uppercase text-center">@product.Title</p>
                                    <p class="card-title text-warning text-center">by <b>@product.Author</b></p>
                                </div>
                                <div class="ps-1">
                                    <p class="text-dark text-opacity-75 text-center"><span class="">@product.Price.ToString("c")</span></p>
                                </div>
                            </div>
                            <div>
                                <a asp-action="Details" asp-controller="Book" asp-area="Customer" asp-route-bookId="@product.Id" class="btn btn-primary bg-gradient border-0 form-control">Details</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        }
    </div>
    
